<h2>Preferences</h2>

<p>
    <label>Display <select name="editorLines">
        {{{select 5 5 editorLines}}}
        {{{select 6 6 editorLines}}}
        {{{select 7 7 editorLines}}}
        {{{select 8 8 editorLines}}}
        {{{select 9 9 editorLines}}}
        {{{select 10 10 editorLines}}}
        {{{select 15 15 editorLines}}}
    </select> lines of text in the editor</label>
</p>

<p>
    <label>Display <select name="searchLines">
        {{{select 1 1 searchLines}}}
        {{{select 2 2 searchLines}}}
        {{{select 3 3 searchLines}}}
        {{{select 4 4 searchLines}}}
        {{{select 5 5 searchLines}}}
        {{{select 6 6 searchLines}}}
        {{{select 7 7 searchLines}}}
        {{{select 8 8 searchLines}}}
        {{{select 9 9 searchLines}}}
        {{{select 10 10 searchLines}}}
        {{{select 15 15 searchLines}}}
        {{{select 25 25 searchLines}}}
        {{{select 50 50 searchLines}}}
    </select> lines of text for each note in the lists</label>
</p>